*{
    margin:0;
    padding:0;
    text-decoration: none;
}

.container-custom{
    display:flex;
}

main{
    width: 95%;
    padding: 20px;
}

.sidebar-custom{
    background: #000;
    color: #fff;
    height: 100dvh;
    top: 0;
    position: sticky;   
    width: 200px;
    transition: all 0.5s;
    align-items: center;
}
.top_section{
    display: flex;
    align-items:center;
    padding:25px 15px;
}

.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.4s;
}
.link:hover{
    background:rgb(124, 58, 237);
    color: #000;
    transition: all 0.5s;
}
.active{
    background: rgb(124, 58, 237);
    color: #000;
}
.link_text{
    font-size: 15px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    transition: all;
}
.link_text .open {
    width: auto;
}
.icon {
    vertical-align: middle;
    line-height: 30px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 1px;
}

.bars{
    display: flex;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 5px;
    transition: all 0.5s;
}

.logo{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    transition: all 0.5s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background: linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99))
    }
}

